html {
    width:100%;
    overflow-x: hidden;
}


body {
    font: sans-serif;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}

#logo {
    position: relative;
    top: -35px;
}

.navbar {
    background: #fff;
    padding-top: 30px;
    border: none;
}

.navbar-header img {
    position: relative;
    top: -30px;
}

#search {
    background: #CCF7FF;
    padding: 40px 0 40px 0;
    overflow: hidden;
    border-top: 1px solid #B7EAF7;
    border-bottom: 1px solid #B7EAF7;
}

.center {
    text-align: center;
    margin: auto;
}

h2 {
    color: #006699;
    font-weight: 200;
    font-size: 36px;
    padding-bottom: 30px;
}

#text {
    height: 64px;
    border-radius: 5px;
    border: 1px solid #B8C7CC;
    width: 100%;
    font-size: 18px;
    padding-left: 18px;
    color: #999;
}

#submit {
    height: 64px;
    border-radius: 5px;
    background: #F86A3E;
    border: 1px solid #B8C7CC;
    width: 90%;
    color: #fff;
    font-size: 19px;
}

.border {
    box-shadow: #06f 0 0 7px;     
}

table {
    width: 80%;
}

#url {
    padding: 40px 0 40px 0;
}

footer {
    background: #1D6589;
    padding: 20px 0 0 0;
    position: relative;
    height: 100%;
}

footer li a {
    color: #fff;
}

#mouse {
    position: absolute;
    top: 30px;
    left: 45px;
    height: 20px;
    width: 20px;
}